/*
    DEMO STYLE
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import "../styles/main.scss";
@import "../styles/template/_grid.scss";

/* ---------------------------------------------------
    CSS for layout
----------------------------------------------------- */
.form-container{
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,0.1);
}

label{
  font-size: 14px;
}

textarea{
  width: 100%;
}
/* ---------------------------------------------------
    Login Styles
----------------------------------------------------- */

.container-login{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-lg{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-lg::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('assets/images/green-waves.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.box-login{
  position: relative;
  width: 350px;
  height: 350px;
  padding: 40px 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 15px 1px rgba(39,39,39,0.1);  background-color: #fff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 425px){
  .box-login{
    width: 300px;
    padding: 20px;
  }

  .reset-password{
    margin-bottom: 0;
  }
}

.box-login-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.box-login-body{
  flex-grow: 1;
  // padding-top: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-login{
  margin-bottom: 25px;
}

.box-login-body input{
  height: 40px;
}

.side-login{
  margin-bottom: 25px;
}

.reset-password{
  text-align: center;
}

.reset-password span{
  width: 100% !important;
  text-align: center;
  cursor: pointer;
  font-family: 'Open Sans SemiBold';
  font-size: 12px;
  color: #5f5f5f;
}

.btn-login{
  width:100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid;
  cursor: pointer;
}
.btn-login:hover{
  opacity: 0.9;
}

.btn-login.success{
  color: #fff;
  background-color: #2D8A05;
}

.errors{
  margin-right: 0px;
  margin-left: 0px;
  justify-content: center;
  margin-top: 15px;
}

/* ---------------------------------------------------
    CSS for inputs
----------------------------------------------------- */
input[type=text], .vti__input{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid darkgrey;
  text-align: center;
  color: #7c7c7d;
}

input[type=password]{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid darkgrey;
  text-align: center;
}

input[type=checkbox]{
  margin: 10px;
}

label{
  font-family: 'Open Sans Regular';
  font-size: 12px;
  color: rgb(95, 95, 95);
}

@media screen and (max-width: 425px){
  input{
    font-size: 12px;
  }
}

/* ---------------------------------------------------
    CSS for loading dots
----------------------------------------------------- */

@keyframes dot-keyframes {
    0% {
      opacity: .4;
      transform: scale(1, 1);
    }

    50% {
      opacity: 1;
      transform: scale(1.2, 1.2);
    }

    100% {
      opacity: .4;
      transform: scale(1, 1);
    }
  }

  .loading-dots {
    text-align: center;
    width: 100%;

    &--dot {
      animation: dot-keyframes 1.5s infinite ease-in-out;
      background-color: #fff;
      border-radius: 10px;
      display: inline-block;
      height: 10px;
      width: 10px;
      margin-left: 5px;
      margin-right: 5px;

      &:nth-child(2) {
        animation-delay: .5s;
      }

      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }

/* ---------------------------------------------------
    Error Style CSS
----------------------------------------------------- */

  .form-error {
    color: red !important;
    font-size: 12px !important;
  }
  
  .is-danger {
    color: red !important;
    font-size: 13px !important;
  }
  
  .is-input-danger {
    border: 1px solid red !important;
  }

  .errors{
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
    margin-top: 15px;
  }
  
  .errors div{
    text-align: center;
    color: red;
  }

  .btn {
    width: 100%;
    min-height: 35px;
    padding: 4px;
    font-family: 'Open Sans Semibold';
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer;
  }
  
  .btn:hover{
    opacity: 0.9;
  }
  
  .btn-success {
    color: #fff;
    background-color: #2D8A05;
    border-color: #2D8A05;
    border-radius: 5px;
  }
  
  .btn-outline-primary {
    background-color: #fff;
    color: #2D8A05;
    border-color: #2D8A05;
  }

  .btn-primary {
    color: #fff;
    background-color: #11559C;
    border-color: #11559C;
  }